In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [4]:
import os
path = os.getcwd() + '/Data/pydata.csv'
df = pd.read_csv(path)

In [5]:
#df.head()

In [6]:
#df.NEXT_SERVICE.value_counts()

In [7]:
y = df.NEXT_SERVICE

In [8]:
X = df.iloc[:,2:]
#X.columns

**Binarize y**

In [9]:
#y[y=='OTPT'] = 'NOT_ED'
#y[y=='INPT'] = 'NOT_ED'
y.replace({'OTPT': 'NOT_ED',
           'INPT': 'NOT_ED'},
          value=None,
          inplace=True)
#y.head()

In [10]:
y = pd.get_dummies(y)
y = y.ED.values

**Change NAs in X**

In [11]:
X = X.fillna(0)

**Tidy Up/Factorize X**

In [12]:
#X.info()

In [13]:
X = X.astype('category')
#X.info()

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13206112 entries, 0 to 13206111
Data columns (total 16 columns):
MEMBER_SEX      category
AGE_GROUP       category
CODE_1          category
CODE_2          category
CODE_3          category
CODE_4          category
CODE_5          category
CODE_6          category
CODE_7          category
Asthma          category
COPD            category
Diabetes        category
HeartFailure    category
Hypertension    category
Psychoses       category
MoodDisorder    category
dtypes: category(16)
memory usage: 289.8 MB

In [15]:
X.head()

,MEMBER_SEX,AGE_GROUP,CODE_1,CODE_2,CODE_3,CODE_4,CODE_5,CODE_6,CODE_7,Asthma,COPD,Diabetes,HeartFailure,Hypertension,Psychoses,MoodDisorder
0,M,PreSchool,654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,M,PreSchool,254.0,654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,M,PreSchool,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,M,PreSchool,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,M,PreSchool,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.preprocessing import LabelEncoder

In [18]:
X.AGE_GROUP.unique()

[PreSchool, Child, Baby, Young Adult, Teen, Middle Age, Adult, Senior, Very Senior]
Categories (9, object): [PreSchool, Child, Baby, Young Adult, ..., Middle Age, Adult, Senior, Very Senior]

In [20]:
le = LabelEncoder()

In [21]:
le.fit(['Baby', 'PreSchool', 'Child', 'Young Adult', 'Teen', 'Middle Age', 'Adult', 'Senior', 'Very Senior'])

LabelEncoder()

In [30]:
X['AGE_GROUP'] = le.transform(X.AGE_GROUP)

In [31]:
X.head()

,MEMBER_SEX,AGE_GROUP,CODE_1,CODE_2,CODE_3,CODE_4,CODE_5,CODE_6,CODE_7,Asthma,COPD,Diabetes,HeartFailure,Hypertension,Psychoses,MoodDisorder
0,M,4,654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,M,4,254.0,654.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,M,4,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,M,4,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,M,4,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
sex = pd.get_dummies(X['MEMBER_SEX'])
X = pd.concat([X, sex], axis=1)

In [34]:
X.drop('MEMBER_SEX', axis=1, inplace=True)
X.drop('F', axis=1, inplace=True)

In [44]:
X.rename(columns = {'M':'MEMBER_SEX'}, inplace = True)

**Save as Numpy arrays**

In [46]:
np.save('Data\TARGET.npy', y)

In [47]:
np.save('Data\ALL_DATA_ML.npy', X.values)